appdirs==1.4.3
attrs==18.2
cfgv==3.3.1
coverage==4.5.2
coveralls==1.5.1
distlib==0.3.6
docker==4.0.2
filelock==3.9.0
freezegun==0.3.12
identify==2.5.18
importlib-resources==1.4.0
nodeenv==1.7.0
pdbpp==0.9.3
platformdirs==3.0.0
pre-commit==3.0.4
pytest-cov==2.6.0
pytest-docker==0.6.1
pytest==4.0.2
pyyaml==6.0
sphinx==1.7.9
toml==0.10.0
virtualenv==20.19.0
wheel==0.38.1
