<!DOCTYPE html>
<head lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- JavaScript -->
<script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdn.plot.ly/plotly-1.43.0.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.7/jstree.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.7/themes/default/style.min.css" />

<title>Trendlines</title>

</head>

<body>
  <header>
  </header>

  <main>
  <h1><a href="{{ url_for('pages.index') }}">Trendlines</a></h1>

    <div id="content">
      {% block body %}
      {% endblock %}
    </div>
  </main>

  <footer>
  </footer>

</body>
</html>

<!-- vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2: -->
