{% extends "trendlines/layout.html" %}

{% block body %}

<h1>{{ name }}</h1>

<div id="change-axis-buttons" class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input id="x-axis-type-sequential" type="radio" name="x-axis-type" autocomplete="off" value="sequential" checked>Sequential
  </label>
  <label class="btn btn-primary">
    <input id="x-axis-type-time" type="radio" name="x-axis-type" autocomplete="off" value="time">Time Series
  </label>
</div>

<div id="graph" style="width:90%; height:500px;"></div>

<script>
  function getData() {
    $.getJSON(
      "{{ url_for('api.get_data_as_json', metric=name) }}",
      createPlot
    )
  };

  function createPlot(data) {
    console.log('In createPlot');
    console.log(data);

    TESTER = document.getElementById('graph');

    //var data = {{ data | tojson | safe }};

    // I think Plotly only accepts 1D arrays of data, so split things out.
    var x = data.rows.map(function (obj) {return obj.timestamp});
    var y = data.rows.map(function (obj) {return obj.value});
    var n = data.rows.map(function (obj) {return obj.n});
    var units = data.units;

    trace1 = {
      x: n,
      y: y,
      type: 'scatter'
    };

    layout = {
      yaxis: {
        title: units
      }
    };

    trace = [ trace1 ];
    Plotly.plot(TESTER, trace, layout);

    $(document).ready(
      function() {
        $(":radio[name='x-axis-type']").change(
          function() {
            // Determine which x scale to use.
            if (this.value == "time") {
              new_x = x;
            } else if (this.value == "sequential") {
              new_x = n;
            }

            // Adjust the x values of the data.
            Plotly.restyle(TESTER, 'x', [new_x]);
          }
        )
      }
    );
  };

  $(getData());

</script>

{% endblock %}

<!-- vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2: -->
